header#main-header {
    width: 100%;
    height: 60px;
    background: #da552f;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
header#main-header a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}